<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Accounts</title>
</head>
<body>
    <div>
        <div th:each="bankAccount : ${bankAccountList}">
            <h1 th:text="${bankAccount.name} + '&#8217s' + ' Account'" ></h1>
            <span  th:text="'Your Account balance:  ' + ${bankAccount.balance} + ' Zebra'"></span>
        </br>
            <span  th:text="'Type:  ' + ${bankAccount.animalType}"></span>

    </div>
    </div>
</body>
</html>