<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<header>
    <ul>
        <li><a href="index">Information</a></li>
        <li><a href="/nutrition">Nutrition Store</a></li>
        <li><a href="/trickCenter">Trick Center</a></li>
        <li><a href="">Action History</a></li>
    </ul>
</header>
<img src="greenfox.png" alt="Green Fox Logo">
<p th:text="'This is ' + ${fox.name} + ' Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows 0 tricks.'">This is Mr.Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>

<h2>Known tricks</h2>

<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>

</body>
</html>