<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/fake-reddit/submit">Submit new post</a>
    <a href="/fake-reddit/register">Register</a>
    <a href="/fake-reddit/login">Login</a>
</nav>
<header>
    <h1>Trending posts</h1>
</header>

<main>
    <table>
        <tr th:each="post : ${postList}">
            <td th:text="${post.rating}">
            </td>
            <td>
                <a th:href="@{'/fake-reddit/change-rating/' + ${post.id} + '/+'}">+</a>
            </td>
            <td>
                <a th:href="@{'/fake-reddit/change-rating/' + ${post.id} + '/-'}">-</a>
            </td>

            <td>
                <a th:href="@{/fake-reddit(postid=${post.id})}" th:text="${post.content}"></a>
            </td>
            <td th:text="${post.getPostDateAndTime()}">
            </td>
        </tr>
    </table>

    <span th:each="pageNumber: ${pagesList}">
<a th:text="${pageNumber}" th:href="@{/fake-reddit/(page=${pageNumber})}"></a>

</span>

</main>
</body>
</html>