<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<header>
    <h1>Please provide your information, for registration!</h1>
</header>
<main>
    <form action="/fake-reddit/register" method="post">

        <input id="title" name="username" type="text" placeholder="Username">
        <br>
        <input id="url" name="password" type="text" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>